@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  font-size: 16px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #444;
}

h1 {
  margin-bottom: 30px;
  font-size: 3rem;
  text-align: center;
  opacity: 0.6;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

.input {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  caret-color: #888;
  color: #888;
  font-size: 1.2rem;
  display: block;
}

.input::placeholder {
  color: #d5d5d5;
}

.input:focus {
  outline: 1px solid #5252b6;
}

.todos {
  padding: 0;
  background-color: #fff;
  margin: 0;
  list-style-type: none;
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.7rem 2rem;
}

.todos li.completed {
  text-decoration: line-through;
  color: #b6b6b6;
}

small {
  text-align: center;
  margin: 3rem;
  color: #b5b5b5;
}
